<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>

      <div class="outer">

        <div class="chart-hed">
          The Airbnb rental landscape in SF
        </div>

        <div class="divider-div"></div>

        <div class="sankey-header">
          <div class="hed1">by room type</div>
          <div class="hed2">by neighborhood</div>
          <div class="hed3">by cost per night</div>
          <div class="hed4">by review number</div>
        </div>

        <div class="chart">
          <div class="sankey" id="sankeygraph">
        </div>

        <div class="credit">
            <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
            <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        </div>
        <div class="source">
          <em>Source: <a href="www.google.com" target="_blank">This is the source</a></em>
        </div>

      </div>

      <!-- content goes here -->
    </responsive-child>

    <script>
      var AirbnbData = <%= JSON.stringify(csv.airbnb_short) %>;
    </script>

    <script src="../app.js" async></script>
    <%= t.include("partials/_foot.html") %>
    <%= t.include("partials/_helloSFC.html") %>
  </body>
</html>
