<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
    <style>
    [ng-cloak] {
      display: none;
    }
    </style>
  </head>
  <body>

    <responsive-child id="searchable">
      <div class="hed">Airbnb in your neighborhood</div>
      <div class="chatter">Curious to see how prevalent Airbnb is in your neighborhood? Search for your neighborhood directly or enter your address to see how large of a presence the company has in your area.</div>

      <div class="searchbutton" id="addressbutton"><i class="fa fa-caret-right" aria-hidden="true"></i>  Search by address</div>

      <div id="addresssearch">
        <input id="autocomplete" placeholder="&#xf002;  Enter your address" type="text" style="font-family:AntennaExtraLight, FontAwesome"></input>

        <div id="aboutyourarea"></div>
      </div>


      <div class="searchbutton" id="neighborbutton"><i class="fa fa-caret-right" aria-hidden="true"></i>  Search by neighborhood</div>

        <div id="neighborsearch">
          <div ng-controller="SearchController" ng-app="search" ng-cloak>
           <input type="text" ng-model="searchKeyword" placeholder="&#xf002;  Look up your neighborhood" id="complete" style="font-family:AntennaExtraLight, FontAwesome">

            <div class="scroll-section">
              <table>
                <thead>
                  <tr>
                    <th colspan=1 rowspan=2><a href="javascript:void(0)" ng-click="sortType = 'neighborhood'; sortReverse = !sortReverse">District<span ng-show="sortType == 'neighborhood' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'neighborhood' && sortReverse" class="fa fa-caret-up"></span></a>
                    <th colspan=1 rowspan=2><a href="javascript:void(0)" ng-click="sortType = 'listings'; sortReverse = !sortReverse">Total listings<span ng-show="sortType == 'listings' && !sortReverse" class="fa fa-caret-up"></span><span ng-show="sortType == 'listings' && sortReverse" class="fa fa-caret-down"></span></a>
                    <th colspan=2>Entire home/apt listings
                    <th colspan=2>Private room listings
                    <th colspan=2>Shared room listings
                  </tr>
                  <tr class="smaller">
                    <th><a href="javascript:void(0)" ng-click="sortType = 'property_1'; sortReverse = !sortReverse">
                          #<span ng-show="sortType == 'property_1' && !sortReverse" class="fa fa-caret-up fa fa-caret-up"></span><span ng-show="sortType == 'property_1' && sortReverse" class="fa fa-caret-down"></span>
                        </a>
                    <th><a href="javascript:void(0)" ng-click="sortType = 'price_1'; sortReverse = !sortReverse">
                          Price<span ng-show="sortType == 'price_1' && !sortReverse" class="fa fa-caret-up"></span><span ng-show="sortType == 'price_1' && sortReverse" class="fa fa-caret-down"></span>
                        </a>
                    <th><a href="javascript:void(0)" ng-click="sortType = 'property_2'; sortReverse = !sortReverse">
                          #<span ng-show="sortType == 'property_2' && !sortReverse" class="fa fa-caret-up"></span><span ng-show="sortType == 'property_2' && sortReverse" class="fa fa-caret-down"></span>
                        </a>
                    <th><a href="javascript:void(0)" ng-click="sortType = 'price_2'; sortReverse = !sortReverse">
                          Price<span ng-show="sortType == 'price_2' && !sortReverse" class="fa fa-caret-up"></span><span ng-show="sortType == 'price_2' && sortReverse" class="fa fa-caret-down"></span>
                        </a>
                    <th><a href="javascript:void(0)" ng-click="sortType = 'property_3'; sortReverse = !sortReverse">
                          #<span ng-show="sortType == 'property_3' && !sortReverse" class="fa fa-caret-up"></span><span ng-show="sortType == 'property_3' && sortReverse" class="fa fa-caret-down"></span>
                        </a>
                    <th><a href="javascript:void(0)" ng-click="sortType = 'price_3'; sortReverse = !sortReverse">
                          Price<span ng-show="sortType == 'price_3' && !sortReverse" class="fa fa-caret-up"></span><span ng-show="sortType == 'price_3' && sortReverse" class="fa fa-caret-down"></span>
                        </a>
                </thead>

                <tbody>
                  <tr ng-repeat="row in searchdb | orderBy:sortType:sortReverse | filter: searchKeyword as results">
                    <td colspan=1>{{row.neighborhood}}
                    <td colspan=1>{{row.listings}}
                    <td colspan=1>{{row.property_1}}
                    <td colspan=1>{{row.price_1}}
                    <td colspan=1>{{row.property_2}}
                    <td colspan=1>{{row.price_2}}
                    <td colspan=1>{{row.property_3}}
                    <td colspan=1>{{row.price_3}}
                  </tr>
                  <tr ng-show="results.length == 0">
                    <td colspan=100 style="padding: 10px;"><em>No results found.</em>
              </table>

            </div>
          </div>
        </div>

      <div style="margin-top: 3px;" class="credit">Benjamin Din  &bull; <a href="mailto:benjamin.din@gmail.com">bdin@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/benjamindin" target="_blank">@benjamindin</a></div>
      <div class="source"></div>
    </responsive-child>

    <script>
      var databaseData = <%= JSON.stringify(csv.database_data) %>;
      console.log(databaseData);

      var neighborhoodData = <%= JSON.stringify(json.data) %>;
      console.log(neighborhoodData);
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPV3pN4bw6LqLzlkLd-NFEXg6COJ916Tg&libraries=places"></script>
    <script src="../searchable_app.js"></script>
    <%= t.include("partials/_foot.html") %>
   <!-- <%= t.include("partials/_helloSFC.html") %> -->
  </body>
</html>
