@import "sfchronicle";
@import "fonts";

@block-graphics: "AntennaExtraLight";
@med-graphics: "AntennaRegular";
@bold-graphics: "AntennaMedium";
@body: "FarnhamText";
@body-bold: "FarnhamTextBold";
@title: "FarnhamDisplayLight";
@banner: "DispatchLight";

@red: lighten(#66101F,50%);//lighten(#DE8067,30%);//#E6A8A8;
@gray-blue: #6C85A5;
@dark-gray: #696969;
@light-gray: #B2B2B2;
@black: #191919;
@dark-blue: #395272;
@redlinks: #EC1C24;

body {
  font-family: @block-graphics;
  max-width: 900px;
  margin: auto;
}

.divider-div {
  border-bottom: 1px @df-border-gray solid;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.hed {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-family: @block-graphics;
  font-weight: bold;
  &.barhed {
    margin-top: 20px;
  }
  @media @mobile {
    padding: 0 10px;
  }
}
.chart-hed, .bars-hed {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  @media @mobile {
    margin: 0 10px;
    font-size: 20px;
  }
}
.chatter {
  font-size: 15px;
  text-align: center;
  padding-bottom: 5px;
  font-family: @block-graphics;
  margin: 20px auto;
  &.lesspadding {
    margin: 10px auto;
  }
  @media @tablet {
    padding: 10px;
  }
  @media @tablet {
    padding: 5px;
  }
}
.outer {
  max-width: 900px;
  margin: 30px auto;
  @media @tablet {
    margin: 20px;
  }
  @media @mobile {
    margin: 10px;
  }
}
.source, .credit {
  clear: left;
  padding-top: 10px;
  font-size: 12px;
  color: @dark-gray;
  font-style: italic;
  font-family: @block-graphics;
  @media @tablet {
    padding: 10px 20px;
  }
  @media @mobile {
    padding: 10px;
  }
  &.padded {
    padding-bottom: 40px;
  }
}

// sankey ----------------------------------------------------------------------

.sankey-header {
  margin: auto;
  font-size: 14px;
}

.hed1, .hed2, .hed3, .hed4 {
  display: inline-block;
  width: 32%;
  margin: 12px 0;
}
.hed1 {
  right: 0%;
  text-align: left;
}
.hed2 {
  right: 50%;
  text-align: center;
}
.hed3 {
  left: 100%;
  text-align: right;
}

.node {
  font-size: 13px;
}

#sankeygraph {
  height: 800px;
  width: 95%;
  margin: auto;
  //font-family: 13px sans-serif;
  @media @mobile {
    width: 98%;
    margin: auto;
  }

  .node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
    stroke-width: 0;
  }
  .node text {
    font-family: @bold-graphics;
    text-transform: uppercase;
    @media @mobile {
      font-size: 10px;
    }
  }
  .node text-part2 {
    font-family: @bold-graphics;
    text-transform: uppercase;
  }
  .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .7;
  }

}

#searchable {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  font-family: @block-graphics;
}

table {
  width: 100%;
  margin: 0 auto;
  font-size: 13px;

  @media @tablet {
    font-size: 10px;
  }
}

.scroll-section {
  height: 350px;
  overflow-y: auto;
}

table tr:nth-child(odd) td {
  background-color: #D8D8D8;
}

table tr:nth-child(even) td {
  background-color: #F8F8F8;
}

input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
  font-size: 15px;
  padding: 3px;
  border: 0px;
  border-bottom: 1px solid rgb(238,238,238);
  font-family: @block-graphics;

  @media @tablet {
    font-size: 13px;
  }

  @media @mobile {
    width: 90%;
  }

}

td {
  padding: 4px 1px;
  text-align: center;
}

th {
  background: @gray-blue;
  padding: 5px;
  color: white;

  a {
    color: white;
  }
  a:hover {
    text-decoration: underline;
    color: white;
  }

  span {
    padding-left: 3px;
  }
}

tr {
  &.smaller {
    @media @mobile {
      font-size: 9.44px;
    }
  }
}

.searchbutton {
  width: 80%; 
  text-align: left;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 15px;

  @media @mobile {
    width: 90%;
    font-size: 13px;
  }
}

#aboutyourarea {
  text-align: center;
  width: 100%;
  margin: 15px 0;
  font-size: 15px;

  @media @mobile {
    font-size: 14px;
  }

  p {
    width: 90%;
    margin: 15px auto 30px auto;
    text-align: left;
    font-size: 14px;
    padding: 10px;
    background: #F8F8F8;

    @media @mobile {
      font-size: 13px;
      width: 95%;
    }
  }
}

.bold-text {
  font-family: @med-graphics;
}

#addresssearch, #neighborsearch {
  display: none;
}